{% extends 'base.html.twig' %}

{% block title %}Role index{% endblock %}

{% block stylesheets %}
   
    <style>
    body {
    background-color: #aec6cf; 
        }
        .product-card {
            transition: transform 0.9s;
            border-radius: 10px;
            overflow: hidden;
        }

        .product-card:hover {
            transform: translateY(-5px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .product-card img {
            object-fit: cover;
        }

        .product-card .card-body {
            padding: 10px;
        }

        .product-card .card-title {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 10px;
            text-align: center;
        }

        .product-card .card-text {
            font-size: 14px;
            margin-bottom: 10px;
            text-align: center;
        }

        .product-card .card-footer {
            padding: 10px;
            background-color: #f5f5f5;
        }

        .addToCartBtn {
            display: block;
            margin: 0 auto;
            background-color: black; /* Set the button background color to black */
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 5px 10px;
            cursor: pointer;
        }

        .addToCartBtn:hover {
            background-color: #333; /* Darken the button on hover */
        }

        /* Additional styles for grid layout */
        .product-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            grid-gap: 20px;
        }

        .product-card .card-img-top {
            height: 150px;
            object-fit: contain;
            max-width: 100%;
        }
        .slider {
          width: 100%;
          height: 500px;
          overflow: hidden;
          position: relative;
        }
    body {
    background-color: #aec6cf; 
        }
        .image1 {
  display: flex;
  justify-content: center; /* căn giữa theo chiều ngang */
  align-items: center; /* căn giữa theo chiều dọc */
  
}

.image1 img {
  max-width: 55%; /* Đảm bảo ảnh không vượt quá kích thước của container */
  max-height: 55%; /* Đảm bảo ảnh không vượt quá kích thước của container */
  
}
         
                
    </style>
{% endblock %}

{% block body %}
    <div class="container">
            <body>
              <div class="image1">
               
                <img src="image/Anhthuvien.jpeg">
                
              </div>
            
            </body>
            </html>
            
            
        
       
        <hr class="divider">

        <h2 class="text-center mt-5">International bussines</h2>
        <div class="product-container">
            {% for product in macbookProducts|slice(0, 4) %}
                <!-- Remove the extra div with class="card product-card" -->
                <a href="{{ path('app_detail_show', {'id': product.getId()}) }}" class="card product-card">
                    <img src="{{ asset('image/' ~ product.getImage()) }}" class="card-img-top" alt="{{ product.getTitle() }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.getTitle() }}</h5>
                        <p class="card-text">Giá: {{ product.getPrice() }}.000.000.VND</p>
                        <div class="action">
                            <form action="{{ path('app_add_to_cart', {'productId': product.id}) }}" method="POST">
                                <button class="btn btn-primary mt-4 addToCartBtn" type="submit">Thêm vào giỏ hàng</button>
                            </form>
                        </div>
                    </div>
                </a>
            {% endfor %} 
        </div>
        <div class="text-center mt-4">
          <a href="software-technology" class="btn btn-outline-primary">Xem tất cả sản phẩm</a>
      </div>

        <hr class="divider">

        <h2 class="text-center mt-5">Optical relationstch</h2>
        <div class="product-container">
            {% for product in ipadProducts|slice(0, 4) %}
                <!-- Remove the extra div with class="card product-card" -->
                <a href="{{ path('app_detail_show', {'id': product.getId()}) }}" class="card product-card">
                    <img src="{{ asset('image/' ~ product.getImage()) }}" class="card-img-top" alt="{{ product.getTitle() }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.getTitle() }}</h5>
                        <p class="card-text">Giá: {{ product.getPrice() }}.000.000.VND</p>
                        <div class="action">
                            <form action="{{ path('app_add_to_cart', {'productId': product.id}) }}" method="POST">
                                <button class="btn btn-primary mt-4 addToCartBtn" type="submit">Thêm vào giỏ hàng</button>
                            </form>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
        <div class="text-center mt-4">
          <a href="optical-relationstch" class="btn btn-outline-primary">Xem tất cả sản phẩm</a>
      </div>

        <hr class="divider">

        <h2 class="text-center mt-5">Software technology</h2>
        <div class="product-container">
            {% for product in iphoneProducts|slice(0, 4) %}
                <!-- Remove the extra div with class="card product-card" -->
                <a href="{{ path('app_detail_show', {'id': product.getId()}) }}" class="card product-card">
                    <img src="{{ asset('image/' ~ product.getImage()) }}" class="card-img-top" alt="{{ product.getTitle() }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.getTitle() }}</h5>
                        <p class="card-text">Giá: {{ product.getPrice() }}.000.000.VND</p>
                        <div class="action">
                            <form action="{{ path('app_add_to_cart', {'productId': product.id}) }}" method="POST">
                                <button class="btn btn-primary mt-4 addToCartBtn" type="submit">Thêm vào giỏ hàng</button>
                            </form>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
        <div class="text-center mt-4">
          <a href="graphic-design" class="btn btn-outline-primary">Xem tất cả sản phẩm</a>
      </div>

        <hr class="divider">

        <h2 class="text-center mt-5">Graphic design</h2>
        <div class="product-container">
            {% for product in aProducts|slice(0, 4) %}
                <!-- Remove the extra div with class="card product-card" -->
                <a href="{{ path('app_detail_show', {'id': product.getId()}) }}" class="card product-card">
                    <img src="{{ asset('image/' ~ product.getImage()) }}" class="card-img-top" alt="{{ product.getTitle() }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.getTitle() }}</h5>
                        <p class="card-text">Giá: {{ product.getPrice() }}.000.000.VND</p>
                        <div class="action">
                            <form action="{{ path('app_add_to_cart', {'productId': product.id}) }}" method="POST">
                                <button class="btn btn-primary mt-4 addToCartBtn" type="submit">Thêm vào giỏ hàng</button>
                            </form>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
        <div class="text-center mt-4">
          <a href="international-bussines" class="btn btn-outline-primary">Xem tất cả sản phẩm</a>
      </div>

 
  </div>
    
{% endblock %}


